name: SonarCloud Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build_test_and_convert:
    runs-on: windows-latest
    outputs:
      report_path: ${{ steps.convert.outputs.ocpath }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Run Tests + Coverage
        run: dotnet test --configuration Release --collect:"XPlat Code Coverage"

      - name: Find coverage file
        id: cov
        shell: pwsh
        run: |
          $file = Get-ChildItem -Recurse -Filter "coverage.cobertura.xml" | Select-Object -First 1
          if (-not $file) { throw "Coverage file not found!" }
          echo "cobertura=$($file.FullName)" >> $env:GITHUB_OUTPUT

      - name: Install ReportGenerator
        run: dotnet tool install --global dotnet-reportgenerator-globaltool

      - name: Convert Cobertura -> OpenCover
        id: convert
        shell: pwsh
        run: |
          reportgenerator `
            -reports:"${{ steps.cov.outputs.cobertura }}" `
            -targetdir:"coverage_converted" `
            -reporttypes:opencover

          $oc = Get-ChildItem -Recurse -Filter "opencover.xml" | Select-Object -First 1
          echo "ocpath=$($oc.FullName)" >> $env:GITHUB_OUTPUT

      - name: Upload converted coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-converted
          path: coverage_converted


  sonarcloud:
    runs-on: ubuntu-latest
    needs: build_test_and_convert

    steps:
      - uses: actions/checkout@v4

      - name: Download converted coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage-converted
          path: coverage-converted

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=pedrofonseca1227
            -Dsonar.projectKey=pedrofonseca1227_GadoApi
            -Dsonar.sources=GadoApi
            -Dsonar.tests=GadoApi.Tests
            -Dsonar.cs.opencover.reportsPaths=coverage-converted/opencover.xml
            -Dsonar.cs.vstest.reportsPaths=**/*.trx
            -Dsonar.exclusions=**/bin/**,**/obj/**
