name: SonarCloud Analysis

on:
  push:
    branches: ["main"]
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Run Tests with Coverage (OpenCover)
        run: >
          dotnet test GadoApi.Tests/GadoApi.Tests.csproj
          --configuration Release
          /p:CollectCoverage=true
          /p:CoverletOutputFormat=opencover
          /p:CoverletOutput=coverage.opencover.xml

      - name: Upload coverage result
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: GadoApi.Tests/coverage.opencover.xml

  sonarcloud:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: .

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=pedrofonseca1227
            -Dsonar.projectKey=pedrofonseca1227_GadoApi
            -Dsonar.sources=GadoApi
            -Dsonar.tests=GadoApi.Tests
            -Dsonar.cs.opencover.reportsPaths=coverage.opencover.xml
            -Dsonar.exclusions=**/bin/**,**/obj/**
