name: SonarCloud Analysis

on:
  push:
    branches: ["main"]
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Prepare TestResults folder at repo root
        run: mkdir -p TestResults

      - name: Test with coverage (run inside test project)
        working-directory: GadoApi.Tests
        run: |
          dotnet test GadoApi.Tests.csproj \
            --configuration Release \
            --logger "trx;LogFileName=../TestResults/TestResults.trx" \
            /p:CollectCoverage=true \
            /p:CoverletOutputFormat=opencover \
            /p:CoverletOutput=../TestResults/coverage.opencover.xml

      - name: Show TestResults files
        run: ls -la TestResults

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: TestResults

  sonarcloud:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: TestResults

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
